**/.git
**/.env
**/node_modules
**/dist
*.log

artifacts/tashi/app
artifacts/tashi/assets
artifacts/tashi/components
artifacts/tashi/constants
artifacts/tashi/context
artifacts/tashi/hooks
artifacts/tashi/scripts
artifacts/tashi/server
artifacts/mockup-sandbox/src
artifacts/mockup-sandbox/public

lib/api-spec/node_modules
lib/api-zod/node_modules
lib/api-client-react/node_modules
lib/db/node_modules

scripts/
.replit
.local
.replit-artifact
